<p id="notice"><%= notice %></p>

<h1>Writings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>Animes shikimory test: <%= @animes[0] %></p>
    <% @writings.each do |writing| %>
      <tr>
        <td><%= writing.name_ua %></td>
        <td><%= link_to 'Show', writing %></td>
        <td><%= link_to 'Edit', edit_writing_path(writing) %></td>
        <td><%= link_to 'Destroy', writing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writing', new_writing_path %>
