<p id="notice"><%= notice %></p>

<img src="https://shikimori.org<%= @writing.shikimory_img %>">

<p>
  <strong>Ім'я:</strong>
  <%= @writing.name_en %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @writing.description_ru %>
</p>

<p>
  <strong>Кількість серій:</strong>
  <%= @writing.series_count %>
</p>

<p>
  <strong>Дата виходу:</strong>
  <%= @writing.release_date %>
</p>

<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
