<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'show', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="show">
<div class="card">
<div class="img">
<div class="left"><%= image_tag @writing.avatar %></div>
 
<div class="info">
  <p>
  <strong>Назва:</strong>
  <%= @writing.name_en %>
</p>


<p>
  <strong>Кількість серій:</strong>
  <%= @writing.series_count %>
</p>

<p>
  <strong>Дата виходу:</strong>
  <%= @writing.release_date %>
</p>

<p>
  <strong><a href="https://myanimelist.net/anime/<%= @writing.shikimoryId %>" target="_blank">MyAnimeList.org</a></strong>
</p>
<p>
  <strong><a href="https://shikimori.org/animes/<%= @writing.shikimoryId %>" target="_blank">Shikimori</a></strong>
</p>

</div>

</div>
<div class="writ">
<p>
  <strong>Опис:</strong>
  <%= @writing.description_ua %>
</p>


</div>
<div class="topic">

<div class="h13">Обговорення</div>
<div class="topics1"><%= link_to 'Create Topic', new_topic_path(:writing_id => @writing.id) %></div>

 <% if @topics.count != 0 %>
<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Текст</th>
      <th>Автор</th>
      <th>Кількість коментарів</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name , topic %></td>
        <td><%= topic.description %></td>
        <% if User.find(topic.creator).name %>
          <td><%= User.find(topic.creator).name %></td>
        <% else %>
          <td><%= User.find(topic.creator).email %></td>
        <% end %>
        <td><%= Topic.new.comments_count(topic.id) %></td>
        <!-- <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

    <div class="gall">Gallery</div>

      <%= form_with(url:add_image_path, local: true ) do |form| %>
        <div class="art">
        <div class="field">
          <%= form.label "Зображення"%>
          <%= form.file_field :images %>
        </div>
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="Завантажити" data-disable-with="Завантажити">
        </div>
      <% end %>
<div class="imge">
<%   @writing.images.each do |x| %>
  <%= image_tag x %>
<%end%>
</div>
</div>
</div>
