<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'edit-profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="edit-profile">
<div class="edit">


<div class="h7">Edit <%= resource_name.to_s.humanize %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
<div class="lab"><label for="user_email">Пошта:</label></div>
<input autofocus="autofocus" autocomplete="email" type="email" value name="user[email]" id="user_email">
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
<div class="lab"><label for="user_password">Пароль: (залиште поле вільним, якщо не змінюєте пароль)</label></div>
<input autocomplete="new-password" type="password" name="user[password]" id="user_password">
<div class="lab"><em>(6 символів мінімум)</em></div>
</div>

<div class="field">
<div class="lab"><label for="user_password_confirmation">Підтвердження паролю:</label></div>
<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="field">
<div class="lab"><label for="user_current_password">Поточний пароль: (для підтвердження змін)</label></div>
<%= f.password_field :current_password, autocomplete: "current-password" %>
</div>

  <% if resource.avatar.attached? %>
    <%= image_tag resource.avatar %>
  <% end %>

  <div class="field">
    <label for="user_avatar">Аватар:</label>
    <%= f.file_field :avatar %>
  </div>

 <div class="field">
<div class="lab"><label for="user_name">Ім'я:</label></div>
<input autofocus="autofocus" type="text" name="user[name]" id="user_name">
</div>

 <div class="field">
<div class="lab"><label for="user_surname">Прізвище:</label></div>
<%= f.text_field :surname, autofocus: true %>
</div>

  <div class="field">
<div class="lab"><label for="user_city">Місто:</label></div>
<%= f.text_field :city, autofocus: true %>
</div>

<div class="field">
<div class="lab"><label for="user_birthday">Вік:</label></div>
<input autofocus="autofocus" min="12" max="99" type="number" name="user[birthday]" id="user_birthday">
</div>

 <input type="submit" name="commit" value="Update" data-disable-with="Update">
<% end %>

<div class="h8">Незадоволені?</div>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<div class="link"><%= link_to "Back", :back %></div>
</div>
</div>