<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'topic', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="top">

<%= form_with(model: topic, local: true) do |form| %>
  <%= hidden_field_tag 'writing_id', params['writing_id'] %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="lab"><label for="topic_name">Назва:</label></div>
    <input type="text" name="topic[name]" id="topic_name">
  </div>

  <div class="field">
    <div class="lab"><label for="topic_description">Текст:</label></div>
    <textarea type="text" name="topic[description]" id="topic_description"></textarea>
  </div>


  <div class="actions">
    <input type="submit" name="commit" value="Create Topic" data-disable-with="Create Topic">
  </div>
<% end %>
</div>