<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'topic', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="top">
<div class="topi">
<div class="h24">Editing Topic</div>

<%= render 'form', topic: @topic %>

<div class="link"><%= link_to 'Show |', @topic %> 
<%= link_to "| Back", :back %></div>
</div>
</div>
