<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'all-topics', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="all">
<div class="alltop">
<div class="h18">All Topics</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><div class="link"><%= link_to topic.name, topic %></div></td>
        <td><%= User.find(topic.creator).email %></td>
        <td><%= topic.created_at %></td>
        <td><%= topic.writings.first.name_en %></td>
        <td><%= topic.writings.first.description_en %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>