<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'show', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="show">
<!-- Topic block -->
<div class="card">
<div class="h14">Обговорення:</div>
<div class="img">

  


    <% @writings.each do |writing| %>
 
      <div class="left"><%= image_tag writing.avatar %></div>
      <div class="info2"><%= link_to writing.name_en, writing %></div>
      
    <% end %>

</div>
<div class="writ">
<p>
  <strong>Назва:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Засновник:</strong>
  <% if User.find(@topic.creator).name %>
    <%= link_to User.find(@topic.creator).name, user_profile_path(User.find(@topic.creator).id) %>
  <% else %>
    <%= link_to User.find(@topic.creator).email, user_profile_path(User.find(@topic.creator).id) %>
  <% end %>
</p>

<%= link_to 'Edit topic', edit_topic_path(@topic) %> |
<%= link_to 'Destroy topic', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' } %> 



<div class="comment">
<!-- Comments block -->
<h2>Comments</h2>
<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
      </tr>
      <tr>
    
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <tr>
      <td><hr></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>New Comment</h1>

<%= render 'comments/form', comment: @comment %>
</div>
</div>
</div>
</div>
