<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="profile">
<div class="prof">
<div class="card">
<div class="h5">My Profile</div>

<% if @user.avatar.attached? %>
<div class="image">
<div class="im">
    <%= image_tag @user.avatar %>
    </div>
    </div>
 <% end %>

<div class="card-body">
    
<% if @user.name %>
	<p>Ім'я: <%= @user.name%></p>
 <% end %>
 <% if @user.surname %>
	<p>Прізвище: <%= @user.surname%></p>
 <% end %>
 <% if @user.name %>
    
	<p>Місто: <%= @user.city%></p>
 <% end %>


<p>Пошта: <%= @user.email%></p>
<div class="button">
<% if @user.id == current_user.id %>

 	<a href="/users/edit" class="btn btn-primary" role="button">Settings</a>
 <% end %>
 </div>

</div>


 
 </div>
</div>
</div>

