<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'registration', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class ="bod">
<div class ="body">
<div class="form">
<div class="h2">LOG IN</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div class="field">
     <div class="lab"><label for="user_email">Пошта:</label></div>
    <input autofocus="autofocus" autocomplete="email" type="email" value name="user[email]" id="user_email">
  </div>

  <div class="field">
   <div class="lab"><label for="user_password">Пароль:</label></div>
   <div class="lab"><em>(6 символів мінімум)</em></div>
   
   <input autocomplete="current-password" type="password" name="user[password]" id="user_password">
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
 <input type="submit" value="Log In" id="submit">
<% end %>

</div>
<div class="login"><a href="/users/sign_up">Sign Up</a></div>
<div class="instruction"><a href="/users/unlock/new">Didn't receive unlock instructions?</a></div>
</div>
</div>



