<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'searches', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="sear">
 <div class="searc">
  Результати пошуку: <i><%= @searchesDB.count %></i>
  </div>
    <div class="card-columns">
    <% @searchesDB.each do |search| %>
      <div class="card">
     
         <img src="https://shikimori.org<%= search['image']['original'] %>" class="card-img-top">
          

         <div class="card-body">
         <p class="card-text">
          Назва: <%= link_to search['name'], controller: "writings", action: "show", id: Writing.where(shikimoryId: search['id']).first.id %> 
          <p><%= search['russian'] %></p>
          <%= search['shikimoryId'] %>
          <p>Кількість серій: <%= search['episodes'] %></p>
          <p>Перша серія: <%= search['aired_on'] %></p>
          <p>Остання серія: <%= search['released_on'] %></p>
          </p>
        </div>
     
      </div>

    <% end %>
    </div>
</div>



